.dropdown {
    position: relative;
    display: inline-block;
    min-height: 5vh;
    margin-bottom: 15vh;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 5vh;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 20vh;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn {
    background-color: plum;
    color: white;
    width: 7vw;
    height: 5vh;
    border: none;
    box-shadow: 2px 4px 10px lightgray;
    position: relative;
    z-index: 3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .dropbtn {
        width: 25vw;
    }
  }